# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ecommerce-front-end/node_modules
ecommerce-front-end/.env
NodeBackend/.env
NodeBackend/node_modules

gitsteps.txt